$메인칼라: black;
.red {
  color: $메인칼라;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

@mixin 함수() {
  background: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 70%;
  font-weight: bold;
  margin: auto;
}
.my-alert {
  @include 함수();
  &-hide {
    @extend .my-alert;
    opacity: 0;
    transition: all 500ms;
  }
}
.my-alert p {
  margin-bottom: 0;
}
