.App {
  text-align: center;
}

/* bootStrap class*/

.btn-primary {
  background-color: black;
  border: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #606060;
}

.btn-default {
  border: none;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.col-lg-4:hover,
col-md-6:hover {
  opacity: 70%;
  transition: all 0.3s;
}

td {
  vertical-align: middle;
}
tr:hover {
  opacity: 50%;
  transition: all 0.3s;
}

/* bootStrap class*/
