.App {
  text-align: center;
}
.btn-primary {
  background-color: black;
  border: black;
  margin-bottom: 10px;
}
.btn-primary:hover {
  background-color: grey;
}
.btn-default {
  border: none;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}
