#orderWrapper {
  min-height: 200px;
  /* border: 1px solid red; */
  margin-top: 100px;
}

#noticeWrapper {
  /* border: 1px solid red; */
  display: flex;
  position: absolute;
  width: 100%;
  height: 276px;
  justify-content: center;
}

.itemImg:hover {
  cursor: pointer;
}

.noticeImg {
  position: absolute;
  width: 580px;
  height: 100%;
  object-fit: cover;
}
.notice {
  position: absolute;
  top: 100%;
}
