td {
  vertical-align: middle;
}

#noticeWrapper {
  /* border: 1px solid red; */
  display: flex;
  position: absolute;
  width: 100%;
  height: 276px;
  justify-content: center;
}

.noticeImg {
  position: absolute;
  width: 580px;
  height: 100%;
  object-fit: cover;
}
.notice {
  position: absolute;
  top: 100%;
}
