$메인칼라: black;
.red {
  color: $메인칼라;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

@mixin 함수() {
  background: #ffe591;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.my-alert {
  @include 함수();
}
.my-alert p {
  margin-bottom: 0;
}
