#alertmodal_viewport {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;

  #alertmodal_background {
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #alertmodal_container {
    z-index: 16;
    position: absolute;
    @extend %alertModalSize;
    background-color: $white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .contents_wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 190px;
      margin-top: 30px;
      margin-bottom: 20px;

      .alert_img_wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        top: 0;

        > img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          object-position: center;
        }
      }

      .alert_title_wrapper {
        @extend %modalTitleFont;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
      }

      .button_wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 0;

        .ok_button {
          @extend %buttonSize;
          @extend %buttonFont;
          background-color: $signiture;
          color: $white;
        }
      }
    }
  }
}
