/* Color */

/*----- Search -----*/
$signiture: #58c179;
$searchBack: rgba(29, 192, 120, 0.12);
$searchBorder: rgba(29, 192, 120, 0.24);
$searchColor: #99c9b8;
/*----- Search -----*/

/*----- Title -----*/
$dark: #303030;
/*----- Title -----*/

/*----- Article -----*/
$title: #454545;
$darkgray: #818181;
$blue: #2d5bb8;
/*----- Article -----*/

/*----- Jumbotron -----*/
$jumbotron: #00202c;
$white: #ffffff;
/*----- Jumbotron -----*/

/*----- Global -----*/
$gray: #c4c4c4;
/*----- Global -----*/
