/* Size */
// 사용예시 : @extend %buttonSize

/*----- Article -----*/
%cardSize {
  width: 350px;
  height: 350px;
}
/*----- Article -----*/

/*----- Modal -----*/
%inputSize {
  width: 310px;
  height: 40px;
}

%addModalSize {
  width: 350px;
  height: 290px;
}

%alertModalSize {
  width: 350px;
  height: 240px;
}
/*----- Modal -----*/

/*----- Jumbotron -----*/
%jumbotronDesktopSize {
  width: 375px;
}

%jumbotronTabSize {
  width: 300px;
}
/*----- Jumbotron -----*/

/*----- Global -----*/
%buttonSize {
  width: 130px;
  height: 40px;
}
/*----- Global -----*/
