/*----- Import Standard -----*/
@import './color.scss';
@import './size.scss';
@import './responsive.scss';
@import './font.scss';
/*----- Import Standard -----*/

/*----- Import Page Style -----*/
@import './pages/MainPage.scss';
@import './pages/DetailPage.scss';
/*----- Import Page Style -----*/

/*----- Import Component Style -----*/
@import './components/Header.scss';
@import './components/modals/AddModal.scss';
@import './components//modals/AlertModal.scss';
/*----- Import Component Style -----*/

/*----- Global Style -----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-main;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  outline: none;
}
/*----- Global Style -----*/
